

.container {
    border-radius: 10px;
    width: 25%;
    margin: auto;
    background-color: #1A1B21;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}



@media (max-width: 1200px) {
    .container {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 60%;
    }
}

@media (max-width: 576px) {
    .container {
        width: 90%;
    }
}


